.write {
    margin-top: 100px;
}

.write img {
    width: 85%;
    height: 270px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 15px;
}

.write .write-box .input-file-box {
    display: flex;
    align-items: center;
    margin: 30px 0;
    gap: 10px;
}

.write .write-box .input-file-box div label {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #444;
    text-align: center;
    line-height: 30px;
    border: 1px solid #444;
    border-radius: 50%;
    cursor: pointer;
}

.write .write-box .input-file-box div input {
    display: none;
}

.write .write-box input[type=text] {
    flex: 9;
    outline: none;
    font-size: 25px;
    padding: 5px;
    border: none;
}

.write .write-box button {
    flex: 1;
    align-self: normal;
    border: none;
    outline: none;
    background-color: #008080;
    color: #fff;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
}

.write .write-box textarea {
    width: 85%;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
}

/*====================================*/
/*===========Responsive===============*/
/*====================================*/

@media only screen and (max-width: 425px) {

    .write img {
        width: 100%;
    }

    .write .write-box input[type=text] {
        width: 100%;
    }

}